{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n bootstrap3 %}
{% block title %}{% trans "Header Code Injector" %}{% endblock %}
{% block inside %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% trans "Header Code Injector" %}
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    {% blocktrans trimmed %}
                        Here you can add custom HTML code that will be injected into the &lt;head&gt;
                        section of all pages of your event. This is useful for adding tracking
                        scripts like Google Analytics or Meta Pixel.
                    {% endblocktrans %}
                </p>
                {% bootstrap_form form layout='horizontal' %}
            </div>
        </div>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
